body {
    margin: 0px;
  }
  .bg1 {
    position: absolute;
    max-height: 844px;
    width: 100%;
    left: 0%;
    z-index: 1;
  }
  .bt1{
    position: absolute;
    width: 188px;
    height: 61px;
    left: 89px;
    top: 306px;
    z-index: 2;
  }

  .bg2{
    position: absolute;
    max-height: 844px;
    width: 100%;
    left: 0%;
    z-index: 1;
  }
.bt2{
  position: absolute;
  width: 252px;
  height: 61px;
  left: 70px;
  top: 301px;
  z-index:2;
}
.dl3{
  position: absolute;
  width: 338px;
  height: 160px;
  left: 26px;
  top: 329px;
  z-index:2;
}
.bg3{
  position: absolute;
  max-height: 844px;
  width: 100%;
  left: 0%;
  z-index: 1;
}
.bt3#a{
  position: absolute;
  width: 252px;
  height: 61px;
  left: calc(50% - 252px/2);
  top: 578px;
  z-index:2;
}
.bt3#b{
  position: absolute;
  width: 252px;
  height: 61px;
  left: calc(50% - 252px/2);
  top: 677px;
  z-index:2;
}
.bg6{
  position: absolute;
  max-height: 844px;
  width: 100%;
  left: 0%;
  z-index: 1;
}
#Name.input4{
  position: absolute;
  width: 253px;
  height: 45px;
  left: 69px;
  top: 523px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  z-index: 2;
}
#Ages.input4{
  position: absolute;
  width: 253px;
  height: 45px;
  left: 69px;
  top: 587px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  z-index: 2;
}
#Emal.input4{
  position: absolute;
  width: 253px;
  height: 45px;
  left: 69px;
  top: 655px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  z-index: 2;
}
.dl4{
  position: absolute;
  width: 338px;
  height: 160px;
  left: 26px;
  top: 329px;
  z-index:2;
}
.bt4{
  position: absolute;
  width: 252px;
  height: 61px;
  left: 69px;
  top: 731px;
  z-index: 2;
}

.dl5{
  position: absolute;
  width: 338px;
  height: 184px;
  left: 26px;
  top: 329px;
  z-index:2;
}
.bt5#a{
  position: absolute;
  width: 252px;
height: 61px;
left: 69px;
top: 588px;
  z-index:2;
}
.bt5#b{
  position: absolute;
  width: 252px;
height: 61px;
left: 69px;
top: 692px;
  z-index: 2;
}

.bg6{
  position: absolute;
  width: 100%;
  left: 0%;
  z-index:1;
}
.bt6#a{
    position: absolute;
    width: 64.6%;
    left: calc(50% - 64.6%/2);
    top: calc(578/844*100%);
    z-index:2;
}
.bt6#b{
    position: absolute;
    width: 64.6%;
    left: calc(50% - 64.6%/2);
    top: calc(677/844*100%);
    z-index: 2;
}
