body {
    margin: 0px;
  }
  .background_image1 {
    position: absolute;
    max-height: 844px;
    width: 100%;
    left: 0%;
    z-index: 1;
  }
  .start{
    position: absolute;
    width: 188px;
    height: 61px;
    left: 89px;
    top: 306px;
    z-index: 2;
  }

  .background_image2{
    position: absolute;
    max-height: 844px;
    width: 100%;
    left: 0%;
    z-index: 1;
  }
.what_happened{
  position: absolute;
  width: 252px;
  height: 61px;
  left: 70px;
  top: 301px;
  z-index:2;
}

.background_image3{
  position: absolute;
  max-height: 844px;
  width: 100%;
  left: 0%;
  z-index: 1;
}
.botton3_1{
  position: absolute;
  width: 252px;
  height: 61px;
  left: calc(50% - 252px/2);
  top: 578px;
  z-index:2;
}
.botton3_2{
  position: absolute;
  width: 252px;
  height: 61px;
  left: 69px;
  top: 677px;
}
.background_image6{
  position: absolute;
  max-height: 844px;
  width: 100%;
  left: 0%;
  z-index: 1;
}
Name.input{
  position: absolute;
  width: 253px;
  height: 45px;
  left: 69px;
  top: 523px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  z-index: 2;
}
Ages.input{
  position: absolute;
  width: 253px;
  height: 45px;
  left: 69px;
  top: 587px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  z-index: 2;
}
Emal.input{
  position: absolute;
  width: 253px;
  height: 45px;
  left: 69px;
  top: 655px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  z-index: 2;
}
.botton4_1{
  position: absolute;
  width: 252px;
  height: 61px;
  left: 69px;
  top: 731px;
  z-index: 2;
}

.dialogue5{
  position: absolute;
  width: 338px;
  height: 184px;
  left: 26px;
  top: 329px;
  z-index:1;
}
.botton5_1{
  position: absolute;
  width: 338px;
  height: 184px;
  left: 26px;
  top: 329px;
  z-index:2;
}
.botton5_2{
  position: absolute;
  width: 338px;
  height: 184px;
  left: 26px;
  top: 329px;
  z-index: 2;
}

.background_image6{
  position: absolute;
  width: 100%;
  left: 0%;
  z-index:1;
}
.botton6_1{
    position: absolute;
    width: 64.6%;
    left: calc(50% - 64.6%/2);
    top: calc(578/844*100%);
    z-index:2;
}
.botton6_2{
    position: absolute;
    width: 64.6%;
    left: calc(50% - 64.6%/2);
    top: calc(677/844*100%);
    z-index: 2;
}
