body {
  margin: 0px;
}
.bg7 {
  position: absolute;
  max-height: 844px;
  width: 100%;
  left: 0%;
  z-index: 1;
}
.op7{
  position: absolute;
  width: 237.5px;
  height: 260.42px;
  left: calc(50% - 237.5px/2 + 11.75px);
  top: 292px;
  z-index: 2;
}
.bt7#a{
  position: absolute;
  width: 114px;
  height: 96px;
  left: calc(50% - 114px/2 - 67px);
  top: 565px;
  z-index: 2;
}
.bt7#a-t{
  position: absolute;
  width: 114px;
  height: 96px;
  left: calc(50% - 114px/2 - 67px);
  top: 565px;
  z-index: 2;
}
.bt7#b{
  position: absolute;
  width: 114px;
  height: 96px;
  left: calc(50% - 114px/2 + 69px);
  top: 565px;
  z-index: 2;
}
.bt7#b-t{
  position: absolute;
  width: 114px;
  height: 96px;
  left: calc(50% - 114px/2 + 69px);
  top: 565px;
  z-index: 2;
}

.bg9{
  position: absolute;
  max-height: 844px;
  width: 100%;
  left: 0%;
  z-index: 1;
}
.bt9#a{
  position: absolute;
  width: 252px;
  height: 61px;
  left: calc(50% - 252px/2);
  top: 578px;
  z-index:2;
  }
.bt9#b{
  position: absolute;
  width: 252px;
  height: 61px;
  left: calc(50% - 252px/2);
  top: 677px;
  z-index:2;
}

.bg10{
  position: absolute;
  max-height: 844px;
  width: 100%;
  left: 0%;
  z-index: 1;
  }
.dl10{
  position: absolute;
  width: 338px;
  height: 160px;
  left: 26px;
  top: 329px;
  z-index:2;
}
.bt10{
  position: absolute;
  width: 252px;
  height: 61px;
  left: 76px;
  top: 645px;  
  z-index:2;
}

.bg11{
  position: absolute;
  max-height: 844px;
  width: 100%;
  left: 0%;
  z-index: 1;
}
.bt11{
  position: absolute;
  width: 346px;
  height: 281px;
  left: 33px;
  top: 154px;
  z-index:2;
}

.bg12{
  position: absolute;
  max-height: 844px;
  width: 100%;
  left: 0%;
  z-index: 1;
}
.dl2{
position: absolute;
width: 338px;
height: 184px;
left: 26px;
top: 329px;
z-index:2;
}
.bt12#a{
position: absolute;
width: 252px;
height: 61px;
left: 69px;
top: 588px;
z-index:2;
}
.bt12#b{
position: absolute;
width: 252px;
height: 61px;
left: 69px;
top: 692px;
z-index: 2;
}

.dl13{
  position: absolute;
  width: 338px;
  height: 184px;
  left: 26px;
  top: 329px;
  z-index:2;
  }
.bt13#a{
  position: absolute;
  width: 64.6%;
  left: calc(50% - 64.6%/2);
  top: calc(578/844*100%);
  z-index:2;
}
.bt13#b{
  position: absolute;
  width: 64.6%;
  left: calc(50% - 64.6%/2);
  top: calc(677/844*100%);
  z-index: 2;
}

.dl14{
  position: absolute;
  width: 338px;
  height: 184px;
  left: 26px;
  top: 329px;
  z-index:2;
  }
.bt14#a{
  position: absolute;
  width: 64.6%;
  left: calc(50% - 64.6%/2);
  top: calc(578/844*100%);
  z-index:2;
}
.bt14#b{
  position: absolute;
  width: 64.6%;
  left: calc(50% - 64.6%/2);
  top: calc(677/844*100%);
  z-index: 2;
}
