body{
    margin: 0px;
}
.wrongbg{
    position: absolute;
    left: 0px;
    width: 100%;
}
.wrongtalk1{
    position: absolute;
    width: 80%;
    height: 20%;
    left: 10%;
    top: 40%;
    z-index: 2;
}
.back{
    position: absolute;
    width: 60%;
    top:80%;
    height: 7%;
    left: 20%;
    z-index: 2;

}
.wrongtalk2{
    position: absolute;
    width: 80%;
    height: 22%;
    left: 10%;
    top: 40%;
    z-index: 2;

}
.wrongtalk3{
    position: absolute;
    width: 80%;
    height: 17%;
    left: 10%;
    top: 40%;
    z-index: 2;
}
.wrongtalk4{
    position: absolute;
    width: 80%;
    height: 17%;
    left: 10%;
    top: 40%;
    z-index: 2;
}