doctype html 
html
  head  
    link(rel="stylesheet", href="../css/L4.css",type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
    
  body 
    .container 

      img.background_image22(src='../picture/page22/iPhone 13/13 Pro - 128.png')
      img.button22_1(src='../picture/page22/Group 100.png')
      img.button22_2(src='../picture/page22/Group 101.png')

      img.background_image23(src='../picture/page23/iPhone 13/13 Pro - 129.png' style="visibility: hidden;")
      img.button23_1(src='../picture/page23/Group 102.png')(style="visibility: hidden;") 
      img.button23_2(src='../picture/page23/Group 103.png')(style="visibility: hidden;") 

      img.background_image24(src='../picture/page24/iPhone 13/13 Pro - 130.png' style="visibility: hidden;")
      img.button24_1(src='../picture/page24/Group 104.png')(style="visibility: hidden;") 
      img.button24_2(src='../picture/page24/Group 105.png')(style="visibility: hidden;") 

      img.background_image25(src='../picture/page25/iPhone 13/13 Pro - 131.png' style="visibility: hidden;")
      img.button25_1(src='../picture/page25/Group 106.png')(style="visibility: hidden;") 
      img.button25_2(src='../picture/page25/Group 107.png')(style="visibility: hidden;") 

      img.background_image26(src='../picture/page26/iPhone 13/13 Pro - 118.png' style="visibility: hidden;")
      img.button26_0(src='../picture/page26/Group 43.png' onclick="location.href ='../ar.html';")(style="visibility: hidden;") 
      img.button26_1(src='../picture/page26/Group 108.png')(style="visibility: hidden;") 
      img.button26_2(src='../picture/page26/Group 109.png')(style="visibility: hidden;") 
      img.button26_3(src='../picture/page26/Group 110.png')(style="visibility: hidden;") 
      img.button26_4(src='../picture/page26/Group 111.png')(style="visibility: hidden;") 

      img.background_image28(src='../picture/page28/iPhone 13/13 Pro - 132.png' style="visibility: hidden;")
      img.button28_1(src='../picture/page28/Group 112.png')(style="visibility: hidden;") 
      img.button28_2(src='../picture/page28/Group 113.png')(style="visibility: hidden;") 

      img.background_image29(src='../picture/page29/iPhone 13/13 Pro - 133.png' style="visibility: hidden;")
      img.button29_1(src='../picture/page29/Group 118.png')(style="visibility: hidden;") 
      img.button29_2(src='../picture/page29/Group 119.png')(style="visibility: hidden;") 
      img.button29_3(src='../picture/page29/Group 120.png')(style="visibility: hidden;") 
      img.button29_4(src='../picture/page29/Group 117.png')(style="visibility: hidden;") 
      img.button29_5(src='../picture/page29/Group 116.png')(style="visibility: hidden;") 
      img.button29_6(src='../picture/page29/Group 115.png')(style="visibility: hidden;") 
      img.button29_7(src='../picture/page29/Group 114.png')(style="visibility: hidden;") 

      img.background_image30(src='../picture/page30/iPhone 13/13 Pro - 134.png' style="visibility: hidden;")
      input#Input.input30(type='number' placeholder='時常' style="visibility: hidden;")
      img.button30_1(src='../picture/page30/Group 122.png')(style="visibility: hidden;") 

      img.background_image31(src='../picture/page31/iPhone 13/13 Pro - 135.png' style="visibility: hidden;")
      img.button31_1(src='../picture/page31/Group 123.png')(style="visibility: hidden;") 
      img.button31_2(src='../picture/page31/Group 124.png')(style="visibility: hidden;") 

      img.background_image32(src='../picture/page32/iPhone 13/13 Pro - 117.png' style="visibility: hidden;")
      img.button32_1(src='../picture/page32/Group 125.png')(style="visibility: hidden;") 

      img.background_image33(src='../picture/page33/iPhone 13/13 Pro - 147.png' style="visibility: hidden;")
      img.button33_1(src='../picture/page33/Group 126.png')(style="visibility: hidden;") 
      img.button33_2(src='../picture/page33/Group 127.png')(style="visibility: hidden;") 
      img.button33_3(src='../picture/page33/Group 128.png')(style="visibility: hidden;") 
      img.button33_4(src='../picture/page33/Group 129.png')(style="visibility: hidden;") 
      img.button33_5(src='../picture/page33/Group 130.png' onclick="location.href ='../html/L5.html';")(style="visibility: hidden;") 

    script(src='../js/L4.js')

