body
    margin:0px


#myAudio
    position: absolute
    z-index: 0

.background_image22
    position: absolute
    // max-width: 390px
    // max-height: 844px
    width: 100%
    left:0px
    z-index: 0
.background_image23
    position: absolute
    // max-width: 390px
    // max-height: 844px
    width: 100%
    left:0px
    z-index: 1
.background_image24
    position: absolute
    // max-width: 390px
    // max-height: 844px
    width: 100%
    left:0px
    z-index: 1
.background_image25
    position: absolute
    // max-width: 390px
    // max-height: 844px
    width: 100%
    left:0px
    z-index: 1
.background_image26
    position: absolute
    // max-width: 390px
    // max-height: 844px
    width: 100%
    left:0px
    z-index: 1
.background_image28
    position: absolute
    // max-width: 390px
    // max-height: 844px
    width: 100%
    left:0px
    z-index: 1
.background_image29
    position: absolute
    // max-width: 390px
    // max-height: 844px
    width: 100%
    left:0px
    z-index: 1
.background_image30
    position: absolute
    // max-width: 390px
    // max-height: 844px
    width: 100%
    left:0px
    z-index: 1
.background_image31
    position: absolute
    // max-width: 390px
    // max-height: 844px
    width: 100%
    left:0px
    z-index: 1
.background_image32
    position: absolute
    // max-width: 390px
    // max-height: 844px
    width: 100%
    left:0px
    z-index: 1
.background_image33
    position: absolute
    // max-width: 390px
    // max-height: 844px
    width: 100%
    left:0px
    z-index: 1

.button22_0
    position: absolute
    max-width: 444px
    max-height: 1036px
    width: 90%
    left: 5%
    top: 370px
    z-index: 2
.button22_1
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 580px
    z-index: 2
.button22_2
    position: absolute
    // max-width: 250px
    // max-height: 816px
    left: 17%
    width: 68%
    top: 650px
    z-index: 2

.button23_0
    position: absolute
    max-width: 444px
    max-height: 1036px
    width: 90%
    left: 5%
    top: 370px
    z-index: 2
.button23_1
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 600px
    z-index: 2
.button23_2
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 680px
    z-index: 2

.button24_0
    position: absolute
    max-width: 444px
    max-height: 1036px
    width: 90%
    left: 5%
    top: 370px
    z-index: 2
.button24_1
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 640px
    z-index: 2
.button24_2
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 720px
    z-index: 2

.button25_0
    position: absolute
    max-width: 444px
    max-height: 1036px
    width: 90%
    left: 5%
    top: 370px
    z-index: 2
.button25_1
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 620px
    z-index: 2
.button25_2
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 700px
    z-index: 2

.button26_0
    position: absolute
    animation: shake 2s
    animation-iteration-count: infinite
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 260px
    z-index: 2
.button26_1
    position: absolute
    max-width: 250px
    max-height: 756px
    width: 28.5%
    left: 67.7%
    top: 510px
    z-index: 2
.button26_2
    position: absolute
    max-width: 250px
    max-height: 756px
    width: 29%
    left: 36%
    top: 510px
    z-index: 2
.button26_3
    position: absolute
    max-width: 250px
    max-height: 756px
    width: 28.5%
    left: 5.1%
    top: 510px
    z-index: 2
.button26_1_
    position: absolute
    max-width: 250px
    max-height: 756px
    width: 28.5%
    left: 67.7%
    top: 510px
    z-index: 2
.button26_2_
    position: absolute
    max-width: 250px
    max-height: 756px
    width: 29%
    left: 36%
    top: 510px
    z-index: 2
.button26_3_
    position: absolute
    max-width: 250px
    max-height: 756px
    width: 28.5%
    left: 5.1%
    top: 510px
    z-index: 2
.button26_4
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 660px
    z-index: 2

.button28_0
    position: absolute
    max-width: 444px
    max-height: 1036px
    width: 90%
    left: 5%
    top: 370px
    z-index: 2
.button28_1
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 620px
    z-index: 2
.button28_2
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 700px
    z-index: 2

.button29_0
    position: absolute
    max-width: 444px
    max-height: 1036px
    width: 90%
    left: 5%
    top: 370px
    z-index: 2
.button29_1, .button29_1_
    position: absolute
    max-width: 250px
    max-height: 756px
    width: 34.3%
    left: 5.1%
    top: 550px
    z-index: 2
.button29_2, .button29_2_
    position: absolute
    max-width: 250px
    max-height: 756px
    width: 34.3%
    left: 5.1%
    top: 630px
    z-index: 2
.button29_3, .button29_3_
    position: absolute
    max-width: 250px
    max-height: 756px
    width: 34.3%
    left: 5.1%
    top: 710px
    z-index: 2
.button29_4, .button29_4_
    position: absolute
    max-width: 250px
    max-height: 756px
    width: 34.3%
    left: 56%
    top: 550px
    z-index: 2
.button29_5, .button29_5_
    position: absolute
    max-width: 250px
    max-height: 756px
    width: 34.3%
    left: 56%
    top: 630px
    z-index: 2
.button29_6, .button29_6_
    position: absolute
    max-width: 250px
    max-height: 756px
    width: 34.3%
    left: 56%
    top: 710px
    z-index: 2
.button29_7
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 780px
    z-index: 2

.button30_0
    position: absolute
    max-width: 444px
    max-height: 1036px
    width: 90%
    left: 5%
    top: 370px
    z-index: 2
.input30
    position: absolute
    max-width: 250px
    max-height: 756px
    border-radius: 25px
    height: 7%
    left: 27%
    top: 600px
    z-index: 2
.button30_1
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 750px
    z-index: 2

.button31_0
    position: absolute
    max-width: 444px
    max-height: 1036px
    width: 90%
    left: 5%
    top: 370px
    z-index: 2
.button31_1
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 630px
    z-index: 2
.button31_2
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 720px
    z-index: 2

.button32_1
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 700px
    z-index: 2


.button33_0
    position: absolute
    max-width: 352px
    max-height: 453px
    width: 50%
    right: 13%
    top: 40%
    animation: shake 1.5s
    animation-iteration-count: infinite
    z-index: 2
    

@media screen and (max-width:1700px)
    // .background_image1
    //     left: 0%


@keyframes shake
  0%
    transform: translate(1px, 1px) rotate(0deg)

  10%
    transform: translate(-1px, -2px) rotate(-1deg)

  20%
    transform: translate(-3px, 0px) rotate(1deg)

  30%
    transform: translate(3px, 2px) rotate(0deg)

  40%
    transform: translate(1px, -1px) rotate(1deg)

  50%
    transform: translate(-1px, 2px) rotate(-1deg)

  60%
    transform: translate(-3px, 1px) rotate(0deg)

  70%
    transform: translate(3px, 1px) rotate(-1deg)

  80%
    transform: translate(-1px, -1px) rotate(1deg)

  90%
    transform: translate(1px, 2px) rotate(0deg)

  100%
    transform: translate(1px, -2px) rotate(-1deg)
