body
    margin:0px


.background_image22
    position: absolute
    max-width: 390px
    max-height: 844px
    width: 100%
    left:0px
    z-index: 1
.background_image23
    position: absolute
    max-width: 390px
    max-height: 844px
    width: 100%
    left:0px
    z-index: 1
.background_image24
    position: absolute
    width: 100%
    left:0px
    z-index: 1
.background_image25
    position: absolute
    width: 100%
    left:0px
    z-index: 1
.background_image26
    position: absolute
    width: 100%
    left:0px
    z-index: 1
.background_image28
    position: absolute
    width: 100%
    left:0px
    z-index: 1
.background_image29
    position: absolute
    width: 100%
    left:0px
    z-index: 1
.background_image30
    position: absolute
    width: 100%
    left:0px
    z-index: 1
.background_image31
    position: absolute
    width: 100%
    left:0px
    z-index: 1
.background_image32
    position: absolute
    width: 100%
    left:0px
    z-index: 1
.background_image33
    position: absolute
    width: 100%
    left:0px
    z-index: 1

.button22_1
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 500px
    z-index: 2
.button22_2
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 680px
    z-index: 2

.button23_1
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 500px
    z-index: 2
.button23_2
    position: absolute
    max-width: 250px
    max-height: 756px
    left: 19%
    top: 580px
    z-index: 2

.button24_1
    position: absolute
    width: 65%
    left: 17.5%
    bottom: 20%
    z-index: 2
.button24_2
    position: absolute
    width: 65%
    left: 17.5%
    bottom: 10%
    z-index: 2

.button25_1
    position: absolute
    width: 65%
    left: 17.5%
    bottom: 20%
    z-index: 2
.button25_2
    position: absolute
    width: 65%
    left: 17.5%
    bottom: 10%
    z-index: 2

.button26_0
    position: absolute
    width: 77%
    left: 11.8%
    bottom: 33.2%
    z-index: 2
.button26_1
    position: absolute
    width: 25.4%
    left: 67.7%
    bottom: 21.3%
    z-index: 2
.button26_2
    position: absolute
    width: 28.5%
    left: 35.9%
    bottom: 21.3%
    z-index: 2
.button26_3
    position: absolute
    width: 25.4%
    left: 5.1%
    bottom: 21.3%
    z-index: 2
.button26_4
    position: absolute
    width: 64.6%
    left: 15.12%
    bottom: 9.5%
    z-index: 2

.button28_1
    position: absolute
    width: 65%
    left: 17.5%
    bottom: 20%
    z-index: 2
.button28_2
    position: absolute
    width: 65%
    left: 17.5%
    bottom: 10%
    z-index: 2

.button29_1
    position: absolute
    width: 34.3%
    left: 5.1%
    bottom:33.2%
    z-index: 2
.button29_2
    position: absolute
    width: 34.3%
    left: 5.1%
    bottom: 24.9%
    z-index: 2
.button29_3
    position: absolute
    width: 34.3%
    left: 5.1%
    bottom:16.6%
    z-index: 2
.button29_4
    position: absolute
    width: 34.3%
    left: 56.4%
    bottom: 33.2%
    z-index: 2
.button29_5
    position: absolute
    width: 34.3%
    left: 56.4%
    bottom:24.9%
    z-index: 2
.button29_6
    position: absolute
    width: 34.3%
    left: 56.4%
    bottom: 16.6%
    z-index: 2
.button29_7
    position: absolute
    width: 64.6%
    left: 15.12%
    bottom: 6%
    z-index: 2

.input30
    position: absolute
    width: 26%
    height:6%
    left: 35%
    top: 65%
    outline: none
    z-index: 2
.button30_1
    position: absolute
    width: 64.6%
    left: 15.12%
    bottom: 6%
    z-index: 2

.button31_1
    position: absolute
    width: 65%
    left: 17.5%
    bottom: 20%
    z-index: 2
.button31_2
    position: absolute
    width: 65%
    left: 17.5%
    bottom: 10%
    z-index: 2

.button32_1
    position: absolute
    width: 65%
    left: 17.5%
    bottom: 13%
    z-index: 2

.button33_1
    position: absolute
    width: 35%
    left: 13%
    top: 15%
    z-index: 2
.button33_2
    position: absolute
    width: 35%
    right: 13%
    top: 30%
    z-index: 2
.button33_3
    position: absolute
    width: 35%
    left: 13%
    top: 45%
    z-index: 2
.button33_4
    position: absolute
    width: 35%
    right: 13%
    top: 60%
    z-index: 2
.button33_5
    position: absolute
    width: 35%
    left: 13%
    top: 75%
    z-index: 2

    

@media screen and (max-width:1700px)
    // .background_image1
    //     left: 0%
