doctype html 
html
  head  
    link(rel="stylesheet", href="../css/L4.css",type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
      
  body 
    .container 

      audio#myAudio(controls='', hidden, loop)
        source(src='../bgm/witch.mp3', type='audio/mpeg')

      img.background_image22(src='../picture/gif/p22_p28-31.gif')(style="visibility: hidden;") 
      img.button22_0(src='../picture/update06_09/page22/13 Pro - 128(change).png')(style="visibility: hidden;") 
      img.button22_1(src='../picture/update06_09/page22/Group 100(change).png')(style="visibility: hidden;") 
      img.button22_2(src='../picture/update06_09/page22/Group 101(change).png')(style="visibility: hidden;") 
      
      

      img.background_image23(src='../picture/gif/p23-25.gif' style="visibility: hidden;")
      img.button23_0(src='../picture/update06_09/page23/13 Pro - 129(change).png')(style="visibility: hidden;") 
      img.button23_1(src='../picture/update06_09/page23/Group 102(change).png')(style="visibility: hidden;") 
      img.button23_2(src='../picture/update06_09/page23/Group 103(change).png')(style="visibility: hidden;") 

      img.background_image24(src='../picture/gif/p23-25.gif' style="visibility: hidden;")
      img.button24_0(src='../picture/update06_09/page24/13 Pro - 130(change).png')(style="visibility: hidden;") 
      img.button24_1(src='../picture/update06_09/page24/Group 104(change).png')(style="visibility: hidden;") 
      img.button24_2(src='../picture/update06_09/page24/Group 105(change).png')(style="visibility: hidden;") 

      img.background_image25(src='../picture/gif/p23-25.gif' style="visibility: hidden;")
      img.button25_0(src='../picture/update06_09/page25/13 Pro - 131(change).png')(style="visibility: hidden;") 
      img.button25_1(src='../picture/update06_09/page25/Group 106(change).png')(style="visibility: hidden;") 
      img.button25_2(src='../picture/update06_09/page25/Group 107(change).png')(style="visibility: hidden;") 

      /////////////////////////
      
      img.background_image26(src='../picture/update06_09/page26/13 Pro - 118(change).png' )
      img.button26_0(src='../picture/update06_09/page26/Group 43_.png') 
      img.button26_1(src='../picture/update06_09/page26/Group 292.png') 
      img.button26_2(src='../picture/update06_09/page26/Group 109(change).png') 
      img.button26_3(src='../picture/update06_09/page26/Group 290.png') 
      img.button26_1_(src='../picture/update06_09/page26/Group 295.png')(style="visibility: hidden;") 
      img.button26_2_(src='../picture/update06_09/page26/Group 298 (2).png')(style="visibility: hidden;")  
      img.button26_3_(src='../picture/update06_09/page26/Group 293.png')(style="visibility: hidden;")  
      img.button26_4(src='../picture/update06_09/page26/Group 111(change).png') 

      img.background_image28(src='../picture/gif/p22_p28-31.gif' style="visibility: hidden;")
      img.button28_0(src='../picture/update06_09/page28/13 Pro - 132(change).png')(style="visibility: hidden;")
      img.button28_1(src='../picture/update06_09/page28/Group 112(change).png')(style="visibility: hidden;") 
      img.button28_2(src='../picture/update06_09/page28/Group 113(change).png')(style="visibility: hidden;") 

      img.background_image29(src='../picture/gif/p22_p28-31.gif' style="visibility: hidden;")
      img.button29_0(src='../picture/update06_09/page29/13 Pro - 133(change).png')(style="visibility: hidden;") 
      img.button29_1(src='../picture/update06_09/page29/Group 118(change).png')(style="visibility: hidden;") 
      img.button29_2(src='../picture/update06_09/page29/Group 119(change).png')(style="visibility: hidden;") 
      img.button29_3(src='../picture/update06_09/page29/Group 373.png')(style="visibility: hidden;") 
      img.button29_4(src='../picture/update06_09/page29/Group 117(change).png')(style="visibility: hidden;") 
      img.button29_5(src='../picture/update06_09/page29/Group 116(change).png')(style="visibility: hidden;") 
      img.button29_6(src='../picture/update06_09/page29/Group 115(change).png')(style="visibility: hidden;") 
      img.button29_1_(src='../picture/update06_09/page29/Group 313.png')(style="visibility: hidden;") 
      img.button29_2_(src='../picture/update06_09/page29/Group 312.png')(style="visibility: hidden;") 
      img.button29_3_(src='../picture/update06_09/page29/Group 311.png')(style="visibility: hidden;") 
      img.button29_4_(src='../picture/update06_09/page29/Group 308.png')(style="visibility: hidden;") 
      img.button29_5_(src='../picture/update06_09/page29/Group 309.png')(style="visibility: hidden;") 
      img.button29_6_(src='../picture/update06_09/page29/Group 310.png')(style="visibility: hidden;") 
      img.button29_7(src='../picture/update06_09/page29/Group 114(change).png')(style="visibility: hidden;") 

      img.background_image30(src='../picture/gif/p22_p28-31.gif' style="visibility: hidden;")
      img.button30_0(src='../picture/update06_09/page30/13 Pro - 134(change).png')(style="visibility: hidden;") 
      input#Input.input30(type='number' placeholder='時長' style="visibility: hidden;")
      img.button30_finger(src='../picture/update06_09/page30/finger3.png')(style="visibility: hidden;") 
      img.button30_1(src='../picture/update06_09/page30/Group 122(change).png')(style="visibility: hidden;") 

      img.background_image31(src='../picture/gif/p22_p28-31.gif' style="visibility: hidden;")
      img.button31_0(src='../picture/update06_09/page31/13 Pro - 135(change).png')(style="visibility: hidden;") 
      img.button31_1(src='../picture/update06_09/page31/Group 123(change).png')(style="visibility: hidden;") 
      img.button31_2(src='../picture/update06_09/page31/Group 124(change).png')(style="visibility: hidden;") 

      img.background_image32(src='../picture/update06_09/page32/13 Pro - 117(change).png' style="visibility: hidden;")
      img.button32_1(src='../picture/update06_09/page32/Group 125(change).png')(style="visibility: hidden;") 

      img.background_image33(src='../picture/update06_09/page33/13 Pro - 147(change).png' style="visibility: hidden;")
      img.button33_0(src='../picture/update06_09/page33/Group 194.png')(style="visibility: hidden;") 
      //- img.button33_1(src='../picture/update06_09/page33/click.png' )(style="visibility: hidden;") 

    
    script(src='../js/L4.js')


