doctype html 
html
  head  
    link(rel="stylesheet", href="../css/L5.css",type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
    
  body 
    .container 

      img.background_image34(src='../picture/page34/iPhone 13/13 Pro - 136.png')
      img.button34_1(src='../picture/page34/Group 131.png')
      img.button34_2(src='../picture/page34/Group 132.png')

      img.background_image35(src='../picture/page35/iPhone 13/13 Pro - 137.png' style="visibility: hidden;")
      img.button35_1(src='../picture/page35/Group 133.png')(style="visibility: hidden;") 
      img.button35_2(src='../picture/page35/Group 134.png')(style="visibility: hidden;") 

      img.background_image36(src='../picture/page36/iPhone 13/13 Pro - 138.png' style="visibility: hidden;")
      img.button36_1(src='../picture/page36/Group 135.png')(style="visibility: hidden;") 
      img.button36_2(src='../picture/page36/Group 136.png')(style="visibility: hidden;") 

      img.background_image37(src='../picture/page37/iPhone 13/13 Pro - 139.png' style="visibility: hidden;")
      img.button37_1(src='../picture/page37/Group 137.png')(style="visibility: hidden;") 
      img.button37_2(src='../picture/page37/Group 138.png')(style="visibility: hidden;") 

      img.background_image38(src='../picture/page38/iPhone 13/13 Pro - 149.png' style="visibility: hidden;")
      img.button38_1(src='../picture/page38/Group 47.png' onclick="location.href ='../ar.html';")(style="visibility: hidden;") 
      input#Input.input38(type='number' placeholder='密碼' style="visibility: hidden;")
      img.button38_2(src='../picture/page38/Group 139.png')(style="visibility: hidden;") 

      img.background_image40(src='../picture/page40/iPhone 13/13 Pro - 140.png' style="visibility: hidden;")
      img.button40_1(src='../picture/page40/Group 141.png')(style="visibility: hidden;") 
      img.button40_2(src='../picture/page40/Group 142.png')(style="visibility: hidden;") 
     
    script(src='../js/L5.js')

